# Core dependencies
kfp
kubernetes


# Data Processing & ML
pandas
pyarrow
scikit-learn

# MLflow
mlflow

# Storage & Cloud
boto3
botocore

# Logging & Monitoring
python-json-logger

# Web Application
streamlit